.carousel-dj {
    max-width: 20vw;
    max-height: 30vh;
    margin-top: 20px;
    margin-bottom: 45vh;
  }
  
  .galeria-div-dj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.carousel-cm {
    max-width: 20vw;
    max-height: 30vh;
    margin-top: 20px;
    margin-bottom: 65vh;
  }
  
  .galeria-div-cm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }