
.body-dj {
    background-color: rgba(0, 0, 0, 0.993);
  }
  
  .grid-index {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  
  .grid-dj {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.075fr 0.25fr 1fr 1fr 1fr 0.075fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }
  
  .header-dj {
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgba(110, 30, 30, 0.63);
    max-height: 22px;
  }
  
  .li-header-dj {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'PT Serif', serif;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
  }
  
  .a-dj:hover {
    color: #FF0000;
    text-decoration: underline;
  
    /* Agrega un subrayado cuando el mouse está sobre el enlace */
  }
  
  .footer-dj {
    grid-area: 6 / 1 / 7 / 6;
    display: flex;
    background-color: rgba(110, 30, 30, 0.63);
  }
  
  .texto-footer-inicio-dj {
    color: aliceblue;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  
  .redes-dj {
    display: flex;
    height: 40px;
    width: 40px;
  }
  
  .main-foto-dj {
    /*esta foto va a la izquierda en la pagina principal de DJ*/
    grid-area: 2 / 1 / 6 / 2;
    margin: 0px 2px 0px 5px;
  }
  
  .img-principal-dj {
    /*la imagen que va en el div de la izquierda (main-foto)*/
  
    max-height: 100%;
  }
  
  .titulo-dj {
    grid-area: 2 / 2 / 3 / 5;
    font-family: 'PT Serif', serif;
    color: rgba(255, 255, 255, 0.925);
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .principal-dj {
    grid-area: 3 / 2 / 6 / 6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card-picture-dj {
    /*todas las fotos que van en la que seria la pagina principal cuando entras a DJ*/
    border-radius: 10px;
    border: solid rgba(110, 30, 30, 0.63);
    height: 150px;
    width: 150px;
  
    &:hover {
      transform: scale(1.35);
    }
  }
  
  .fotocarnet-dj {
    border-radius: 50%;
    border: solid rgba(110, 30, 30, 0.63);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.body-cm {
    background-color: rgba(203, 219, 55, 0.993);
  }
  
  .grid-cm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.075fr 0.25fr 1fr 1fr 1fr 0.075fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }
  
  .header-cm {
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgb(150, 150, 150);
    max-height: 22px;
  }
  
  .li-header-cm {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'PT Serif', serif;
    list-style: none;
  }
  
  .a-cm:hover {
    color: #ffe600;
    text-decoration: underline;
  
    /* Agrega un subrayado cuando el mouse está sobre el enlace */
  }
  
  .footer-cm {
    grid-area: 6 / 1 / 7 / 6;
    display: flex;
    background-color: rgb(150, 150, 150);
  }
  
  .texto-footer-inicio-cm {
    color: aliceblue;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  
  .redes-cm {
    display: flex;
    height: 40px;
    width: 40px;
  }
  
  .main-foto-cm {
    /*esta foto va a la izquierda en la pagina principal de CM*/
    grid-area: 2 / 1 / 6 / 2;
    margin: 0px 2px 0px 0.5px;
  }
  
  .img-principal-cm {
    /*la imagen que va en el div de la izquierda (main-foto)*/
    max-height: 100%;
  }
  
  .titulo-cm {
    grid-area: 2 / 2 / 3 / 5;
    font-family: 'PT Serif', serif;
    color: rgba(255, 255, 255, 0.925);
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .principal-cm {
    grid-area: 3 / 2 / 6 / 6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card-picture-cm {
    /*todas las fotos que van en la que seria la pagina principal cuando entras a CM*/
    border-radius: 10px;
    border: solid rgb(150, 150, 150);
    height: 150px;
    width: 150px;
  
    &:hover {
      transform: scale(1.35);
    }
  }
  
  .fotocarnet-cm {
    border-radius: 50%;
    border: solid rgb(150, 150, 150);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }