@charset "UTF-8";
/* esta es mi pagina de scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.body-dj {
  background-color: rgba(0, 0, 0, 0.993);
}

.grid-index {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.grid-dj {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.075fr 0.25fr 1fr 1fr 1fr 0.075fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.header-dj {
  grid-area: 1/1/2/6;
  background-color: rgba(110, 30, 30, 0.63);
  max-height: 22px;
}

.li-header-dj {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "PT Serif", serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
}

.a-dj:hover {
  color: #FF0000;
  text-decoration: underline;
  /* Agrega un subrayado cuando el mouse está sobre el enlace */
}

.footer-dj {
  grid-area: 6/1/7/6;
  display: flex;
  background-color: rgba(110, 30, 30, 0.63);
}

.texto-footer-inicio-dj {
  color: aliceblue;
  display: flex;
  justify-self: center;
  align-self: center;
}

.redes-dj {
  display: flex;
  height: 40px;
  width: 40px;
}

.main-foto-dj {
  /*esta foto va a la izquierda en la pagina principal de DJ*/
  grid-area: 2/1/6/2;
  margin: 0px 2px 0px 5px;
}

.img-principal-dj {
  /*la imagen que va en el div de la izquierda (main-foto)*/
  max-height: 100%;
}

.titulo-dj {
  grid-area: 2/2/3/5;
  font-family: "PT Serif", serif;
  color: rgba(255, 255, 255, 0.925);
  margin: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-dj {
  grid-area: 3/2/6/6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-picture-dj {
  /*todas las fotos que van en la que seria la pagina principal cuando entras a DJ*/
  border-radius: 10px;
  border: solid rgba(110, 30, 30, 0.63);
  height: 150px;
  width: 150px;
}
.card-picture-dj:hover {
  transform: scale(1.35);
}

.fotocarnet-dj {
  border-radius: 50%;
  border: solid rgba(110, 30, 30, 0.63);
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .grid-dj {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.075fr 0.25fr 1fr 1fr 1fr 0.075fr;
  }
  .header-dj {
    grid-area: 1/1/2/3;
  }
  .main-foto-dj {
    grid-area: 2/1/6/3;
  }
  .titulo-dj {
    grid-area: 2/2/3/5;
  }
  .principal-dj {
    grid-area: 3/2/6/3;
  }
}
/* creo que asi funciona en todas las medidas posible. La pagina de contacto y la pagina de DJ / CM SON RESPONSIVE*/
@media screen and (max-width: 768px) {
  .grid-dj {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .header-dj {
    grid-area: 1/1/2/2;
  }
  .main-foto-dj {
    grid-area: 2/1/3/2;
  }
  .titulo-dj {
    grid-area: 3/1/4/2;
    text-align: center;
  }
  .principal-dj {
    grid-area: 4/1/5/2;
    align-items: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1020px) {
  .grid-dj {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.075fr 0.25fr auto auto auto 0.075fr;
  }
  .header-dj {
    grid-area: 1/1/2/3;
  }
  .main-foto-dj {
    grid-area: 2/1/6/2;
    margin: 0;
  }
  .titulo-dj {
    grid-area: 2/2/3/4;
  }
  .principal-dj {
    grid-area: 3/2/6/3;
  }
}
@media screen and (max-width: 768px) {
  .grid-cm {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .header-cm {
    grid-area: 1/1/2/2;
  }
  .main-foto-cm {
    grid-area: 2/1/3/2;
  }
  .titulo-cm {
    grid-area: 3/1/4/2;
    text-align: center;
  }
  .principal-cm {
    grid-area: 4/1/5/2;
    align-items: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1020px) {
  .grid-cm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.075fr 0.25fr auto auto auto 0.075fr;
  }
  .header-cm {
    grid-area: 1/1/2/3;
  }
  .main-foto-cm {
    grid-area: 2/1/6/2;
    margin: 0;
  }
  .titulo-cm {
    grid-area: 2/2/3/4;
  }
  .principal-cm {
    grid-area: 3/2/6/3;
  }
}/*# sourceMappingURL=estilo.css.map */